<form action="/figures/<%=@figure.id%>" method="post">
  <h2>Edit Figure:</h2>
  <input type="hidden" name="_method" value="patch">
  <label>Name: <input id="figure_name" type="text" name="figure[name]" value="<%=@figure.name%>"></label>

  <h2>Title</h2>
  <h3>Select from those available:</h3>
  <% all_titles.each do |title| %>
    <label><input type="checkbox" name="figure[title_ids][]" value="<%=title.id%>" <%= "checked" if @figure.titles.any? {|figure_title| figure_title == title} %>><%=title.name%></label>
  <% end %>
  <h3>Or create a new title:</h3>
  <label><input type="text" id="new_title" name="title[name]" value=""></label>

  <h2>Associated Landmark(s)</h2>
  <h3>Select from those available:</h3>
  <% @figure.landmarks.each do |landmark| %>
    <label><input type="checkbox" id="landmark_<%=landmark.id%>" name="figure[landmark_ids][]" value="<%=landmark.id%>" checked><%=landmark.name%></label>
  <% end %>
  <% available_landmarks.each do |landmark| %>
    <label><input type="checkbox" id="<%=landmark.id%>" name="figure[landmark_ids][]" value="<%=landmark.id%>"><%=landmark.name%></label>
  <% end %>
  <h3>Or create a new landmark:</h3>
  <label>Name: <input type="text" id="new_landmark" name="landmark[name]" value=""></label>
  <label>Year Completed: <input type="text" id="landmark_year_completed" name="landmark[year_completed]" value=""></label>
  <br>
  <input type="submit" value="Edit Figure">
</form>
